body {
  font-family: "Playfair Display", serif;
}

h1 {
  text-align: center;
}

.cards {
  list-style: none;
}

.card {
  list-style: none;
  float: left;
  margin: 20px;
}

.card img {
  width: auto;
  height: 400px;
}

.card h4 {
  text-align: center;
}